@font-face {
  font-family: Dosis;
  src: url(Dosis-VariableFont_wght.ttf);
}
@font-face {
  font-family: Lora;
  src: url(Lora-VariableFont_wght.ttf);
}
.serif {
  font-family: Lora, Times, serif;
}
.sans {
  font-family: Dosis, Helvetica, sans-serif;
}
* {font-family: Dosis, Helvetica, sans-serif}
