.title{
  margin-bottom: .1em;
}
.subtitle{
  font-size: 1.3em;
  color: slategrey;
}
.links{
  align-items: flex-end;
}
.links nav{
  width: 100%;
}
.links ul{
  list-style: none;
  justify-content: space-around;
}
@media (min-width: 960px) {
  .subtitle{max-width: 19em;}
}
@media (max-width: 960px) {
  .title, .subtitle{padding: 0 40px;}
}
